.header{
	background-color: white;
	padding-top: .5%;
	border-left: 28px solid green;
}

@font-face{
	font-family: musicalFont;
	src: url(ChopinScript.ttf);
}

.logo{
	font-family: musicalFont;
	font-size: 50px;
}

.container{
	background-color: white;
}

.links{
	background-color: green;
	color: white;
	width: 23%;
}

.link:visited{
	color: white;
}